body{
	font-family: 'Roboto', sans-serif !important;
}
html{
	font-family: 'Roboto', sans-serif !important;
}
.post{
	font-family: 'Noto Serif TC', serif !important;
	color: #444443;
	font-size: 18px;
}
.avatar{
	height: 64px;
	width: 64px;
	border: 3px solid #e83e8c;
}
.user-name{
	color: #b0bec5;
}
.name{
	color: rgba(0,0,0,0.8);
}
.date{
	color: #b0bec5;
}
.description{
	line-height: 1.2 !important;
	color: rgba(0,0,0,0,0.7);
}
.jumbotron{
	color: #ffffff;
	background: #e83e8c;
}

.jumbotron a{
	color: #ffffff !important;
}